<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApplication1.Properties.Settings.tod112ConnectionString"
            connectionString="Data Source=tod112.hib.no,1443;Initial Catalog=tod112;Persist Security Info=True;User ID=tod112;Password=tod112"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>